/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    padding: 0;
    margin: 0;
}

.greetDiv {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(238, 238, 72) 60%, rgb(75, 75, 219));
    height: 100vh;
}

.greetDiv>div {
    display: flex;
    gap: 0.5rem;
    font-weight: 700;
    font-size: 20px;
}

.routes {
    background: #070606;
    padding: 0.5rem;
}

.link {
    text-decoration: none;
    color: #fff;
}

.center {
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
}

.center>p {
    font-size: 30px;
    font-weight: 600;
    color: rgb(8, 34, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}